body{
    background-image: linear-gradient(to right,#ff5722,#ff9800);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
h1{
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    /* background-color: antiquewhite; */
    background-image: linear-gradient(to bottom right,rgb(211, 205, 205),white);
    box-shadow: 5px 5px 20px rgb(31, 30, 30);
}
input[type="text"],input[type="password"]{
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px rgb(63, 62, 62);
}
input[type="text"]:focus,input[type="password"]{
    outline: none;
}
input[type="submit"]{
    padding: 5px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-image: linear-gradient(to right,#ff5722,#ff9800);
}
input[type="submit"]:focus{
    outline: none;
    opacity: 0.7;
}